body{
  height: 100%;
  margin: 0;
  padding: 0;
  background-color: #505050;
}

.wrapper{
  height: 800px;
  width: 1050px;
  margin: 0 0 0 450px;
}

.card{
  width: 500px;
  height: 600px;
  background-color: #4a4a4a;
  border-radius: 20px;
  box-shadow: 0 0 5px 1px #000000;
}

#calendar{
  float: left;
  margin: 150px 0 0 0;
}

.cardTitle{
  height: 100px;
  width: 100%;
  background-color: #424242;
  border-radius: 20px;
  padding: 10px 0 0 0;
}

h1{
  color: #ffffff;
  margin: 0;
  text-align: center;
  font-family: 'Source Sans Pro';
}

.row{
  height: 100px;
  width: 500px;
  background-color: #4a4a4a;
  border-radius: 20px;
  top: 220px;
  position: absolute;
}

#form{
  float: left;
  margin: 150px 0 0 50px;
}