body{
  margin: 0;
  padding: 0;
  background-color: #505050;
}

.wrapper{
  height: 800px;
  width: 1050px;
  margin-left: 450px;
}

.card{
  height: 600px;
  width: 500px;
  margin-top: 150px;
  border-radius: 20px;
  
  background-color: #4a4a4a;
  box-shadow: 0 0 5px 1px #000000;
}

.classHead{
  height: 120px;
  width: 100%;

  background-color: #000000;

  display: grid;
  grid-template-columns: 1fr;
  grid-template-areas: 1fr;
  grid-template-areas: "overlap";
  z-index: 3;
}

#calendar{
  float: left;
}

.day{
  height: 50px;
  width: 50px;  
  margin: 0 0 15px 15px;

  background-color: #000000;

  display: inline-block;
}

.cardTitle{
  height: 100px;
  width: 100%;
  padding: 10px 0 0 0;
  border-radius: 20px;

  background-color: #424242;

  grid-area: overlap;
  z-index: 1;
}

h1{
  margin: 0;
  text-align: center;
  font-family: 'Source Sans Pro';
  color: #ffffff;
}

.innerCard{
  height: 70%;
  width: 500px;
  margin-top: -30px;
  padding-top: 30px;
  border-radius: 20px;
  
  background-color: #4a4a4a;

  grid-area: overlap;
  z-index: 2;
  
}

#form{
  margin-left: 50px;
  float: left;
}