@font-face {
  font-family: Phenomena;
  src: url(Phenomena-Bold.woff) format('woff');
}

@font-face {
  font-family: 'Material Icons';
  font-style: normal;
  font-weight: 400;
  src: url(https://fonts.gstatic.com/s/materialicons/v41/flUhRq6tzZclQEJ-Vdg-IuiaDsNc.woff2) format('woff2');
}

.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 27px;
  line-height: 1;
  letter-spacing: normal;
  text-transform: none;
  transition: 0.2s;
  white-space: nowrap;
  word-wrap: normal;
  direction: ltr;
  display: inline-block;
  -webkit-font-feature-settings: 'liga';
  -webkit-font-smoothing: antialiased;
}

.hidden {
  display: none;
}

h1 {
  font-size: 12em;
  font-family: "Source Sans Pro", "sans-serif";
  font-weight: 700;
  color: #3c3c3c;
}

.fit h1 {
  font-size: 10vw;
  color: red;
}

h2 {
  font-size: 8em;
  font-family: "Source Sans Pro", "sans-serif";
  font-weight: 700;
  color: #3c3c3c;
}

.fit h2 {
  font-size: 6.67vw;
}

h3 {
  font-size: 3em;
  font-weight: 700;
  font-family: "Phenomena";
}

.fit h3 {
  font-size: 2.5vw;
}

h4 {
  font-size: 3em;
  font-weight: 700;
  font-family: "Phenomena";
}

.fit h4 {
  font-size: 2.5vw;
}

h5 {
  font-size: 2.5em;
  font-family: "Source Sans Pro", "sans-serif";
  font-weight: 200;
  color: #757575;
}

h6 {
  font-size: 2em;
  font-family: "Source Sans Pro", "sans-serif";
  font-weight: 400;
  color: #757575;
}

a {
  font-family: "Source Sans Pro", "sans-serif";
  font-size: 1.35em;
  color: #3c3c3c;
  display: block;
  margin: 1em;
  margin-right: 0;
  margin-left: 0;
  cursor: pointer;
}

/*
::-webkit-scrollbar .dark {
  background-color: rgba(127, 127, 127, 0.1);
  width: 12px;
}

::-webkit-scrollbar-thumb .dark {
  background-color: rgba(127, 127, 127, 0.8);
}
*/

.unselectable {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* light theme */
  /* color */
.light .priceBig, .light .price, .light .titleBig, .light .prepositionBig, .light .description, .light a {
  color: #3c3c3c;
}
.light .pointer {
  color: #505050;
}
.light h5, .light h6, .light .title, .light .descriptionBig, .light .p {
  color: #757575;
}
  /* background-color */
.light body {
  background-color: #ffffff;
}
.light #nav-body, .light #modules, .light #settings, .light .container {
  background-color: #f5f5f5;
}
.light .containerHeader, .light .row {
  background-color: #bdbdbd;
}
.light div.bar {
  background-color: #757575;
}
.light .background {
  background-color: #ffffff;
}
.light div.footer {
  background-color: rgba(238, 238, 238, 0.6);
}
.light .header {
    background-color: rgba(255, 255, 255, 0.7);
}
.light .nav-admin a {
  color: darkred;
}
.light [type="checkbox"]+label:before {
  border: 2px solid #757575;
}

/* dark theme */
  /* color */
.dark .priceBig, .dark .price, .dark .prepositionBig, .dark .description, .dark a {
  color: #ffffff;
}
.dark h5, .dark h6, .dark .title, .dark .descriptionBig, .dark p {
  color: #bdbdbd;
}
.dark .pointer {
  color: #757575;
}
.dark .titleBig {
  color: #3c3c3c;
}
  /* background-color */
.dark div.bar {
  background-color: #bdbdbd;
}
.dark .containerHeader, .dark .row1 {
  background-color: #757575;
}
.dark #nav-body, .dark #modules, .dark #settings, .dark .container {
  background-color: #505050;
}
.dark .background {
  background-color: #3c3c3c;
}
.dark div.footer {
  background-color: rgba(86, 86, 86, 0.7);
}
.dark .header {
  background-color: rgba(60, 60, 60, 0.8);
}
.dark .nav-admin a {
  color: #d62525;
}
.dark [type="checkbox"]+label:before {
  border: 2px solid #bdbdbd;
}