@font-face {
  font-family: Phenomena;
  font-weight: bold;
  src: url(Phenomena-Bold.woff) format('woff');
}

@font-face {
  font-family: Phenomena;
  font-weight: normal;
  src: url(Phenomena-Regular.woff) format('woff');
} 

@font-face {
  font-family: 'Material Icons';
  src: url(https://fonts.gstatic.com/s/materialicons/v41/flUhRq6tzZclQEJ-Vdg-IuiaDsNc.woff2) format('woff2');
}

.material {
  vertical-align: middle;
  font-family: 'Material Icons';
  font-size: 24px;
}

.hidden {
  display: none;
}

body {
  overflow-x: hidden;
}

th {
  font-family: "Source Sans Pro", "sans-serif";
  font-weight: bold;
}

td {
  font-family: "Source Sans Pro", "sans-serif";
  font-weight: normal;
}

p {
  font-family: "Source Sans Pro", "sans-serif";
}

h1 {
  font-size: 12em;
  font-family: "Source Sans Pro", "sans-serif";
  font-weight: 700;
  color: #3c3c3c;
}

.fit h1 {
  font-size: 10vw;
}

@media screen and (min-width: 1920px) {
  .fit h1 {
     font-size: 18vh;
  }
}

h2 {
  font-size: 8em;
  font-family: "Source Sans Pro", "sans-serif";
  font-weight: 700;
  color: #3c3c3c;
}

.fit h2 {
  font-size: 6.67vw;
}

@media screen and (min-width: 1920px) {
  .fit h2 {
     font-size: 12vh;
  }
}

h3 {
  font-size: 3em;
  font-weight: normal;
  font-family: "Phenomena";
}

.fit h3 {
  font-size: 2.5vw;
}

@media screen and (min-width: 1920px) {
  .fit h3 {
     font-size: 4.5vh;
  }
}

h4 {
  font-size: 3em;
  font-weight: normal;
  font-family: "Phenomena";
}

.fit h4 {
  font-size: 2.5vw;
}

@media screen and (min-width: 1920px) {
  .fit h4 {
     font-size: 4.5vh;
  }
}

h5 {
  font-size: 2.5em;
  font-family: "Source Sans Pro", "sans-serif";
  font-weight: 200;
  color: #757575;
  margin: 0;
}

@media screen and (max-width: 385px) {
  h5 {
    font-size: 10vw;
  }
}

@media screen and (max-width: 315px) {
  h5 {
    font-size: 7vw;
  }
}

h6 {
  font-size: 2em;
  font-family: "Source Sans Pro", "sans-serif";
  font-weight: 400;
  color: #757575;
  margin: 0;
}

a {
  font-family: "Source Sans Pro", "sans-serif";
  font-size: 1.35em;
  color: #3c3c3c;
  display: block;
  margin: 1em;
  margin-right: 0;
  margin-left: 0;
  cursor: pointer;
}

/*
::-webkit-scrollbar .dark {
  background-color: rgba(127, 127, 127, 0.1);
  width: 12px;
}

::-webkit-scrollbar-thumb .dark {
  background-color: rgba(127, 127, 127, 0.8);
}
*/

.unselectable {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* light theme */
  /* color */
.light .price, .light .center .title, .light .preposition, .light .left .description, .light .right .description, .light .exit .description, .light a, .light h1, .light th, .light td {
  color: #3c3c3c;
}
.light .pointer {
  color: #505050;
}
.light h5, .light h6, .light .left .title, .light .right .title, .light .exit .title, .light .center .description, .light .p, .light .material, .light .tagname {
  color: #757575;
}
  /* background-color */
.light body {
  background-color: #ffffff;
}
.light #nav-body, .light #modules, .light #settings, .light .container {
  background-color: #f5f5f5;
}
.light .containerHeader, .light .row {
  background-color: #bdbdbd;
}
.light div.bar {
  background-color: #757575;
}
.light.site {
  background-color: #ffffff;
}
.light div.footer {
  background-color: rgba(238, 238, 238, 0.6);
}
.light .nav-header {
    background-color: rgba(255, 255, 255, 0.7);
}
.light .nav-admin a {
  color: rgb(160, 10, 10);
}
.light [type="checkbox"]+label:before {
  border: 2px solid #757575;
}

/* dark theme */
  /* color */
.dark .price, .dark .preposition, .dark .left .description, .dark .right .description, .dark .exit .description, .dark a, .dark h1, .dark th, .dark td {
  color: #ffffff;
}
.dark h5, .dark h6, .dark .left .title, .dark .right .title, .dark .exit .title, .dark .center .description, .dark p {
  color: #bdbdbd;
}
.dark .pointer, .dark .material {
  color: #757575;
}
.dark .center .title {
  color: #3c3c3c;
}
  /* background-color */
.dark div.bar {
  background-color: #bdbdbd;
}
.dark .containerHeader, .dark .row1 {
  background-color: #757575;
}
.dark #nav-body, .dark #modules, .dark #settings, .dark .container {
  background-color: #505050;
}
.dark.site {
  background-color: #3c3c3c;
}
.dark div.footer {
  background-color: rgba(86, 86, 86, 0.7);
}
.dark .nav-header {
  background-color: rgba(60, 60, 60, 0.8);
}
.dark .nav-admin a {
  color: rgb(247, 82, 82);
}
.dark [type="checkbox"]+label:before {
  border: 2px solid #bdbdbd;
}