/* general */
body {
    margin: 0;
    padding: 0;
    text-decoration: none;
}

h1 {
    font-size: 40px;
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 200;
    color: #757575;
}

h2 {
    font-size: 32px;
    font-family: 'Source Sans Pro';
    font-weight: 700;
    color: #757575;
    margin: auto;
}

h3 {
    font-size: 32px;
    font-family: 'Source Sans Pro';
    font-weight: 400;
    color: #757575;
    margin: 10px 8px 0 0;
}

::selection {
    background-color: #3c3c3c;
    color: #f5f5f5;
}

/* navigation head */

.nav_header {
    height: 60px;
    width: 100%;
    display: inline-block;
}

.header {
    height: 58px;
}

#nav_button {
    display: inline-block;
    cursor: pointer;
    padding: 21px;
    position: absolute;
}

#nav_button:hover {
    background-color: #f5f5f5;
}

#nav_button:focus {
    background-color: #f5f5f5;
    outline: 0px;
}

.bar {
    width: 18px;
    height: 2px;
    background-color: #757575;
    margin: 3px 0;
}

.pagename {
    position: absolute;
    margin: 4px 64px;
    white-space: nowrap;
}

#clock {
    text-align: center;
    padding: 9px 0 9px 0;
}

@media only screen and (max-width: 1000px) {
    #clock {
        visibility: hidden;
    }
}

#date {
    right: 32px;
    top: 0;
    position: absolute;
}

@media only screen and (max-width: 800px) {
    #date {
        visibility: hidden;
    }
}

.progress-bar {
    width: 100%;
    background-color: rgb(60, 60, 60);
    height: 2px;
}

#progress {
    height: 2px;
    width: 5%;
    background-color: #86e01e;
    position: absolute;
}

/* navigation body */

.go-left {
    -webkit-transform: translate(30px,0);
    -moz-transform: translate(30px,0);
    -o-transform: translate(30px,0);
    transform: translate(30px,0);
    left: -260px;
}
 
.go-right {
    -webkit-transform: translate(-30px,0);
    -moz-transform: translate(-30px,0);
    -o-transform: translate(-30px,0);
    transform: translate(-30px,0);
    left: 0px;
}

#nav_body {
    background: #f5f5f5;
    box-shadow: 1px 1px 3px rgba(0,0,0,0.2);
    height: calc(100vh - 60px);
    line-height: 1.2em;
    overflow: auto;
    position: fixed;
    top: 60px;
    transition: left 0.2s cubic-bezier(0.4,0,1,1);
    width: 260px;
    transform: translateZ(0);
}

.nav_base {

}

.unselectable {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}