body {
    margin: 0;
    padding: 0;
    text-decoration: none;
}

nav {
    height: 60px;
    width: 100%;
    float: left;
}

.nav_button:hover {
    background-color: beige;
}

.nav_button {
    float: left;
    display: inline-block;
    cursor: pointer;
    padding: 20px 20px 20px 20px;
}

.bar1, .bar2, .bar3 {
    width: 20px;
    height: 2px;
    background-color: #333;
    margin: 3px 0;
    transition: 0.4s;
    color: #757575;
}

h1 {
    margin: 5px 0 0 10px;
    font-size: 40px;
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 700;
    float: left;
    color: #757575;
}

h2 {
    margin: 5px 0 0 10px;
    font-size: 40px;
    font-family: 'Source Sans Pro';
    font-weight: 200;
    float: left;
    color: #757575;
}

h3 {
    margin: 10px 0 0 450px;
    font-size: 32px;
    font-family: 'Source Sans Pro';
    font-weight: 700;
    float: left;
    color: #757575;
}

h4 {
    margin: 10px 10px 0 0;
    font-size: 32px;
    font-family: 'Source Sans Pro';
    font-weight: 700;
    float: right;
    color: #757575;
}

h5 {
    margin: 10px 50px 0 0;
    font-size: 32px;
    font-family: 'Source Sans Pro';
    font-weight: 200;
    float: right;
    color: #757575;
}

#myProgress {
    width: 100%;
    background-color: grey;
    float: right;
}
#myBar {
    width: 1%;
    height: 2px;
    background-color: green;
}

.unselectable {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}